:root {
    --main: #F0484A;
    --secondary: #0FBDCB;
    --cream: #faf3ea;
    --logo-font: cooper-black-std, serif;
    font-size: 20px;
  }

body {
  font-family: 'Open Sans', sans-serif; 
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  height: 100%;
  width: 100%;

}

  /* splash screen*/

.not-logged-body {
      
      /* This may become an issue? idk, but, for now, seems to fix issue of 
  page not reaching absolute bottom of screen */
  position: fixed;

}

#splash-org-name {
  width: 80%;
  max-height: 100%;
  /* max-width: 22rem; */
  /* background-color: white; */
  /* padding: 10px 40px; */
  /* border-radius: 10px; */
}

#splash,
#sign-up-page,
#login-page {
  display: grid;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--main) 5%,
    white 5% 95%,
    var(--main) 95%
  );
  /* background-color: var(--main); */
  /* background: repeating-conic-gradient(var(--main) 0% 25%, white 0% 50%) 50% / 50px 50px; */
  grid-template-columns: [first] 100% [second];
  grid-template-rows: [first] 33% [second] 33% [third] 33% [fourth];
}

#splash-title,
#sign-up-title,
#sign-up-form,
#login-title,
#login-form {
  grid-column-start: first;
  grid-column-end: second;
}


#splash-title {
  font-size: 3em;
  font-family: var(--logo-font);
  color: var(--cream);
  text-align: center;
  background-color: white;
  grid-row-start: second;
  grid-row-end: third;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 1px 1px black;
}

#splash-login-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  grid-row-start: third;
  grid-row-end: fourth;
  /* margin-bottom: 75px; */
}

#splash-create-account {
  margin-bottom: 30px;
}

/* buttons on splash screen */

.splash-btn {
  background-color: transparent;
  width: 275px;
  height: 60px;
  background-color: var(--secondary);
  color: var(--cream);
  font-size: 1.2em;
  font-weight: 900;
  border-color: var(--cream);
  border-radius: 30px;
  box-shadow: 0 0 1px 1px var(--cream);
  text-shadow: 0 2px 2px black;
}

/* sign up  and login*/

/* sign-up-title */
#sign-up-title,
#login-title {
  font-size: 4em;
  color: var(--secondary);
  font-family: var(--logo-font);
  text-align: center;
  grid-row-start: first;
  grid-row-end: second;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 1px 1px black;
}

#sign-up-form,
#login-form {
  font-size: 1.2em;
  color: var(--main);
}

#sign-up-inputs,
#login-inputs {
  display: flex;
  flex-direction: column;
  grid-row-start: second;
  grid-row-end: third;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px;
}

#login-inputs {
  justify-content: space-evenly;
}

#sign-up-inputs li,
#login-inputs li {
  display: flex;
  flex-direction: column;
  text-shadow: 0 .25px .25px black;
}

.sign-up-input,
.login-input {
  margin-top: 5px;
}

#password-rules {
  margin-top: 5px;
  font-size: 0.5em;
  margin-left: 2px;
}

/* error message */

.error-message {
  font-size: 0.75em;
  width: 100%;
  padding-left: 20px;
  text-shadow: 0 .25px .25px black;
  margin-top: 50px;
  line-height: 0px;
}

/* sign up btn */

#sign-up-btn-contain,
#login-btn-contain {
  grid-row-start: third;
  grid-row-end: fourth;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#sign-up-btn,
#login-btn,
#edit-project-submit-btn,
#edit-project-delete-btn,
#edit-project-add-pic-btn,
#edit-project-add-video-btn {
  margin-right: 25px;
  background-color: var(--secondary);
  color: var(--cream);
  text-shadow: 0 1px 1px black;
  box-shadow: 0 0px 2px black;
  height: 60px;
  width: 150px;
  border-color: var(--cream);
  border-width: 3px;
  border-radius: 10px;
}

#already-have-account-btn,
#dont-have-account-btn {
  margin-top: 40px;
  width: 100%;
  background: none;
  border: none;
  font-size: 0.8em;
  color: var(--main);
  text-shadow: 0 .25px .25px black;
  text-decoration: underline;
}
  
/* Add grid if logged in */
.logged-in-body {
  display: grid;
  grid-template-columns: [start] 100% [end];
  grid-template-rows: [header-start] 6rem [header-end main-start] auto [main-end footer-start] 3.5rem [footer-end];
  flex-direction: column;
  align-items: center;
}

/* main grid */

main {
  grid-column: start / end;
  grid-row: main-start / main-end;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  grid-column: start / end;
  grid-row: header-start / header-end;
}

#org-name {
  width: 70%;
  max-width: 22rem;
  margin-top: 20px;
}

  /* Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: var(--main);
  grid-column: start / end;
  grid-row: footer-start / footer-end;
}

#footer-list{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

#footer-list li {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-icon i{
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.footer-icon p {
  font-size: .85rem;
}

.page-selected {
  color: var(--secondary);
}

/* main */
#main {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
}

/* homepage: */

/* homepage img ul */
#homepage-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95%;
}

/* homepage img lis */
.homepage-image {  
  width: 100%;

}

/* about us */

#about-us {
  margin-top: 40px;
  width: 100%;
  margin-bottom: 2rem;
}

#about-us-title {
  font-family: var(--logo-font);
  color: var(--secondary);
  padding-left: 4rem;
  padding-bottom: 7px;
  width: 9.2rem;
  border-bottom: var(--secondary) 2px solid;
  margin-bottom: 20px;
}

#about-us-text-contain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-us-text {
  width: 85%;
  line-height: 1.4rem;
}

/* copyright - change position to abs, if not enough content*/

#copyright {
  margin-top: 1rem;
  position: relative;
  bottom: 0;
  font-size: .6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* copyright if not logged in */

.not-logged-copyright {
  color: var(--cream);
  align-items: center !important;
  width: 100%;
  text-shadow: 0 0px 1.5px black;
}

.copyright-splash {
  padding-top: 60px;
}

/* projects page */

/* Have partner page title match project page */
#projects-title, #partners-title {
  font-family: var(--logo-font);
  color: var(--secondary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: .5rem;
}

#project-organization {
  display: flex;
  width: 90%;
}

#project-organization-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#project-filter-li, #project-sort-li {
  position: relative;
  border: var(--secondary) solid 2px;
}


select {
  height: 1.6rem;
  padding: 2px 2rem 2px 7px;
  /* removes native button: */
  appearance: none;
}

  /* select bar buttons */

#project-filter-li::after, #project-sort-li::after {
  color: white;
  content: '>';
  transform: rotate(90deg);
  background-color: var(--main);
  width: 32px;
  height: 32px;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  right: 1px;
  bottom: -1px;
  pointer-events: none;
  font-weight: 600;
  border-bottom: var(--secondary) solid 2px;

}

/* Grid for project cards */

#project-card-contain {
  margin-top: 30px;
  display: grid;
  grid-template-columns: [start] 50% [middle] 50% [end];
  grid-template-rows: [start] 100% [end];
  position: relative;
  width: 90%;
  height: fit-content;
}

/* Align the cards into appropriate sides of grid */

#left-project-cards {
  grid-column: start / middle;
  grid-row: start / end;
}

#right-project-cards {
  grid-column: middle / end;
  grid-row: start / end;
}

/* project card styling */

.project-card {
  background-color: var(--cream);
  width: 95%;
  border-radius: 20px;
  position: relative;
  margin-bottom: 15px;
  border: solid var(--secondary) 2px;
}

.project-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.project-card-title {
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 1.15rem;
  line-height: 1.4rem;
}

.project-card-title h3 {
  text-align: center;
}

.project-card-main-img {
  margin-bottom: .6rem;
}

.project-card-main-img-ul {
  /* display: grid;
  grid-template-columns: [start] 40% [middle] 60% [end];
  grid-template-rows: [start] 100% [end]; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-img-contain {
  /* grid-column: start / middle;
  grid-row: start / end; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img {
  height: 95%;
  width: 95%;
  /* border-radius: 50%; */
  /* border: solid black 1px; */
}

.school-name-contain {
  /* grid-column: middle / end;
  grid-row: start / end; */
  margin-top: .5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.school-name-contain h3 {
  text-align: center;
  font-size: 1.2rem;
}

.project-card-school {
  margin-bottom: .4rem;
  width: 96%;
}

.school-name {
  font-weight: 600;
}

.project-card-solving {
  margin-bottom: .5rem;
  width: 96%;
}

.solving {
  font-weight: 600;
}

.project-card-tags {
  margin-bottom: .6rem;
}

.project-tag-list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.tag {
  font-size: .75rem;
  margin-top: .2rem;
  margin-bottom: .4rem;
  border: black solid 1px;
  border-radius: 50%;
  padding: .4rem .8rem;
  text-align: center;
  color: white;
}

.community-tag {
  /* TODO: Standardize color: */
  background-color: red;
}
.education-tag {
  /* TODO: Standardize color: */
  background-color: rgb(22, 135, 60);
}
.hunger-tag {
  /* TODO: Standardize color: */
  background-color: rgb(62, 117, 245);
}
.social-justice-tag {
  /* TODO: Standardize color: */
  background-color: rgb(192, 146, 31);
}
.center-city-tag {
  /* TODO: Standardize color: */
  background-color: rgb(142, 137, 142);
}
.north-philly-tag {
  /* TODO: Standardize color: */
  background-color: rgb(248, 103, 86);
}
.northeast-philly-tag {
  /* TODO: Standardize color: */
  background-color: rgb(110, 214, 240);
}
.west-philly-tag {
  /* TODO: Standardize color: */
  background-color: rgb(196, 41, 196);
}
.south-philly-tag {
  /* TODO: Standardize color: */
  background-color: rgb(53, 57, 26);
}

/* Specific Project Page */

#close-specific-project-btn-contain, #close-edit-project-btn-contain {
  margin-top: -20px;
  width: 93%;
  display: flex;
  justify-content: flex-start;
}

#close-specific-project-btn, #close-edit-project-btn  {
 font-size: 1.5rem;
 color: var(--main);
 background: none;
 border: none;
 cursor: pointer;
}

#specific-project-page, #edit-project-page {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  width: 100%;
  grid-template-columns: [start] 65% [middle] 35% [end];
  grid-template-rows: [start] 100% [end];
}

#specific-project-info, #specific-project-sidebar, #edit-project-info, #edit-project-sidebar {
  grid-row-start: start;
  grid-row-end: end;

}

#specific-project-info, #edit-project-info {
  grid-column-start: start;
  grid-column-end: middle;
  width: 90%;
  position: relative;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#specific-project-title, #edit-project-title {
  font-family: var(--logo-font);
  color: var(--secondary);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

#specific-project-solving, #specific-project-proposal, #edit-project-solving, #edit-project-proposal {
  line-height: 1.25rem;
}

.solving-proposal {
  font-weight: 800;
  color: var(--secondary);
}

#specific-project-solving-contain, #edit-project-solving-contain {
  margin-bottom: 15px;
}

#specific-project-pics-contain, #edit-project-pics-contain {
  width: 100%;
  margin-top: 25px;
  border-top: solid var(--secondary) 2px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

#specific-project-pics, #edit-project-pics {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.specific-project-pic-contain, .specific-project-video-contain, .edit-project-pic-contain, .edit-project-video-contain  {
  width: 30%;
}

.specific-project-pic, .specific-project-video, .edit-project-pic-img, .edit-project-pic-input, .edit-project-video-vid, .edit-project-video-input {
  width: 90%;
  object-fit: cover;
  height: 90%;
}

.specific-project-pic, #edit-project-btn {
  cursor: pointer;
}


#specific-project-sidebar, #edit-project-sidebar {
  grid-column-start: middle;
  grid-column-end: end;
  width: 100%;
  display: flex;
  justify-content: center;
}

#specific-project-sidebar-content, #edit-project-sidebar-content {
  width: 97%;
  background-color: var(--main);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#specific-project-main-img-contain, #edit-project-main-img-contain {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7px;
  margin-bottom: 20px;
}

#specific-project-main-img, #edit-project-main-img {
  width: 90%;
  padding-top: 3%;
}

#specific-project-school-contain, #edit-project-school-contain {
  width: 100%;
  margin-bottom: 15px;
}

#specific-project-school, #edit-project-school {
  text-align: center;
  color: black;
}

#edit-project-tags {
  display: flex;  
  flex-direction: column;
}

#edit-project-submit-btn {
  margin-top: 40%;
}

#edit-project-delete-btn {
  margin-top: 15%;
  margin-bottom: 15%;
  background-color: var(--main)
}

#edit-project-add-pics-and-vids-contain {
  margin-top: 4%; 
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#edit-project-add-pics-and-vids {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}



/* Enlarged Photo Modal */
.enlarged-photo-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  margin: auto;
  max-width: 80%;
  max-height: 80%;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.enlarged-photo {
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  margin: auto;
}

/* Navigation Arrows */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  color: white;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#edit-project-btn {
  margin-left: 15px;
  color: var(--main);
}
/* change the color of the add video btn set above */
#edit-project-add-video-btn {
  background-color: var(--main)
}

#edit-project-add-pic-video-inputs-contain {
  margin-top: 3%;
  width: 100%;
}

#edit-project-add-pic-video-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.edit-project-add-pic-input-contain, .edit-project-add-video-input-contain {
  margin-bottom: 2%;
  width: 100%;
}

.edit-project-add-pic-input, .edit-project-add-video-input {
  width: 100%;
  color: black;
}

.edit-project-add-pic-input::placeholder, .edit-project-add-video-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--cream);
  opacity: 1; /* Firefox */
}

.edit-project-add-pic-input {
  background-color: var(--secondary);;
}

.edit-project-add-video-input {
  background-color: var(--main);
}

/* Partner page */

#partner-tiers {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 98%;
}

#first-partner-tier, #second-partner-tier {
  border-bottom: var(--secondary) solid 3px;
  padding-bottom: 20px;
}

#second-partner-tier, #third-partner-tier {
  margin-top: 20px;
}

#first-partner-tier, #second-partner-tier, #third-partner-tier {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#tier-one-partners-title, #tier-two-partners-title, #tier-three-partners-title {
  display: inline-block;
  margin-bottom: 15px;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
  padding: .2rem 0; 
}

#tier-one-partners-title {
  font-size: 1.5rem;
}

#tier-two-partners-title {
  font-size: 1.25rem;
}

#tier-three-partners-title {
  font-size: 1rem;
}

#tier-one-partners, #tier-two-partners, #tier-three-partners {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  gap: .4rem;
}

.partner-image {
  width: 95%;
  height: 95%;
}

.tier-one-partner {
  width: 45%;
}

.tier-two-partner {
  width: 30%;
}

.tier-three-partner {
  width: 18%;
}